<!DOCTYPE html>
<html ng-app="FlagsApp" ng-controller="FlagsController" >
<head>
    <meta charset="utf-8">
    <title>Prayer Flags for Nepal | Terms and Conditions</title>
    
    <script src="/media/js/jquery-2.1.3.min.js"></script>
    <script src="/media/js/angular.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/flags.js"></script>
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" />
    
</head>

<body>
	<div class="container">
		<h1>Terms and conditions</h1>
		<p>Sendprayerflags.org does not accept any cash donations. Neither do we make any money from kickbacks, recommendations, referrals, online advertisements etc. of any sort. This is a 100% non profit organization and pledges to remain that way in future.</p>
		<p>We do not have any political or religious agenda.</p>
		<p>Although we make every effort to keep inappropriate flags at bay, we rely on visitors of this site to report any offensive content.</p>
		<p>Please understand that by submitting your flag you are donating your creation to charity and will not come back after us in future claiming any damages. If you do not understand this, please do not submit your flag.</p>
		<p>Having said that, we firmly believe that you like most people believe in giving and bringing a smile on the faces of those effected by natural and man-made calamity.</p>
		<p></p><p>Thanks!</p>
		<p>Sendprayerflags.org team</p>
</div>
</body>
</html>